/* #region Variables */
/* #endregion  */

/* #region Base */
body{
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
}   
a {
    text-decoration: none;
    font-style: normal;
}
button{
    cursor: pointer;
}
ul,
ol {
    list-style-type: none;
}

address{
    font-style: normal;
}
/* #endregion  */

/* #region Buttons */

.btn{

}
.btn-accent{

}
/* #endregion  */

/* #region Common */
.section{
    
}
.logo{
    color: #4D5AE5;
    line-height: 1.17;

}
.logo-dark {
    color: #2E2F42;
}
.logo-light{
    color: #ffffff;
}
/* #endregion  */

/* #region Header */
.header {
    background-color: #ffffff;
}

.header-nav {}

.header-nav-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.header-nav-list {}

.header-nav-item {}

.header-nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-nav-link:hover{
    color: #404bbf;

}
.header-nav-link:focus{
    color: #404bbf;
}

.address {}

.header-address {}

.address-list {}

.address-item {}

.address-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-link:hover{
    color: #404bbf
}
.address-link:focus{
    color:#404bbf

}
/* #endregion  */

/* #region Hero */
.hero {
    background-color: #2E2F42;
}

.hero-title {
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
        
        
}
.btn-accent{
    background-color: #4d5ae5;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}
.btn-accent:hover {
    background-color: #404bbf;
}
.btn-accent:focus {
    background-color: #404bbf;
}
/* #endregion  */

/* #region Benefits */
.benefits {
}

.benefits-title {
    color: #2E2F42;

}

.benefits-list {

}

.benefits-item {

}

.benefits-caption {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.benefits-desc {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/* #endregion  */



/* #region Team */
.team {
   background-color: #F4F4FD; 
}

.team-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-list {
    
}

.team-item {
    background-color: #FFFFFF
}

.team-caption {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}

.team-desc {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
/* #endregion  */

/* #region Portfolio */
.portfolio {}

.portfolio-title {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2E2F42;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-caption {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;

}

.portfolio-desc {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* #endregion  */

/* #region Footer */
.footer {
    background-color: #2E2F42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-light{
    color: #f4f4fd;
}
.footer-desc {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

/* #endregion  */